<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
  <head>{{ partial "head.html" . }}</head>
  <body>
    {{ partial "header.html" . }}
    <main>
      <h1>{{ .Title }}</h1>
      <ul class="post-list">
        {{ range .Pages }}
          <li class="post-item">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ $datestr := .Params.datestr | default .Params.date }}
            <time datetime="{{ $datestr }}">{{ $datestr }}</time>
            {{ if .Description }}<p class="post-description">{{ .Description }}</p>{{ end }}
          </li>
        {{ end }}
      </ul>
      {{ .Content }}
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>